/*
 * PowerDNS Authoritative HTTP API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 0.0.13
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.ConfigSetting;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ConfigApi {
    private ApiClient localVarApiClient;

    public ConfigApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ConfigApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getConfig
     * @param serverId The id of the server to retrieve (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of config values </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getConfigCall(String serverId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/servers/{server_id}/config"
            .replaceAll("\\{" + "server_id" + "\\}", localVarApiClient.escapeString(serverId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "APIKeyHeader" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getConfigValidateBeforeCall(String serverId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'serverId' is set
        if (serverId == null) {
            throw new ApiException("Missing the required parameter 'serverId' when calling getConfig(Async)");
        }
        

        okhttp3.Call localVarCall = getConfigCall(serverId, _callback);
        return localVarCall;

    }

    /**
     * Returns all ConfigSettings for a single server
     * 
     * @param serverId The id of the server to retrieve (required)
     * @return List&lt;ConfigSetting&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of config values </td><td>  -  </td></tr>
     </table>
     */
    public List<ConfigSetting> getConfig(String serverId) throws ApiException {
        ApiResponse<List<ConfigSetting>> localVarResp = getConfigWithHttpInfo(serverId);
        return localVarResp.getData();
    }

    /**
     * Returns all ConfigSettings for a single server
     * 
     * @param serverId The id of the server to retrieve (required)
     * @return ApiResponse&lt;List&lt;ConfigSetting&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of config values </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<ConfigSetting>> getConfigWithHttpInfo(String serverId) throws ApiException {
        okhttp3.Call localVarCall = getConfigValidateBeforeCall(serverId, null);
        Type localVarReturnType = new TypeToken<List<ConfigSetting>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Returns all ConfigSettings for a single server (asynchronously)
     * 
     * @param serverId The id of the server to retrieve (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of config values </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getConfigAsync(String serverId, final ApiCallback<List<ConfigSetting>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getConfigValidateBeforeCall(serverId, _callback);
        Type localVarReturnType = new TypeToken<List<ConfigSetting>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getConfigSetting
     * @param serverId The id of the server to retrieve (required)
     * @param configSettingName The name of the setting to retrieve (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of config values </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getConfigSettingCall(String serverId, String configSettingName, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/servers/{server_id}/config/{config_setting_name}"
            .replaceAll("\\{" + "server_id" + "\\}", localVarApiClient.escapeString(serverId.toString()))
            .replaceAll("\\{" + "config_setting_name" + "\\}", localVarApiClient.escapeString(configSettingName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "APIKeyHeader" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getConfigSettingValidateBeforeCall(String serverId, String configSettingName, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'serverId' is set
        if (serverId == null) {
            throw new ApiException("Missing the required parameter 'serverId' when calling getConfigSetting(Async)");
        }
        
        // verify the required parameter 'configSettingName' is set
        if (configSettingName == null) {
            throw new ApiException("Missing the required parameter 'configSettingName' when calling getConfigSetting(Async)");
        }
        

        okhttp3.Call localVarCall = getConfigSettingCall(serverId, configSettingName, _callback);
        return localVarCall;

    }

    /**
     * Returns a specific ConfigSetting for a single server
     * NOT IMPLEMENTED
     * @param serverId The id of the server to retrieve (required)
     * @param configSettingName The name of the setting to retrieve (required)
     * @return ConfigSetting
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of config values </td><td>  -  </td></tr>
     </table>
     */
    public ConfigSetting getConfigSetting(String serverId, String configSettingName) throws ApiException {
        ApiResponse<ConfigSetting> localVarResp = getConfigSettingWithHttpInfo(serverId, configSettingName);
        return localVarResp.getData();
    }

    /**
     * Returns a specific ConfigSetting for a single server
     * NOT IMPLEMENTED
     * @param serverId The id of the server to retrieve (required)
     * @param configSettingName The name of the setting to retrieve (required)
     * @return ApiResponse&lt;ConfigSetting&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of config values </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ConfigSetting> getConfigSettingWithHttpInfo(String serverId, String configSettingName) throws ApiException {
        okhttp3.Call localVarCall = getConfigSettingValidateBeforeCall(serverId, configSettingName, null);
        Type localVarReturnType = new TypeToken<ConfigSetting>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Returns a specific ConfigSetting for a single server (asynchronously)
     * NOT IMPLEMENTED
     * @param serverId The id of the server to retrieve (required)
     * @param configSettingName The name of the setting to retrieve (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of config values </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getConfigSettingAsync(String serverId, String configSettingName, final ApiCallback<ConfigSetting> _callback) throws ApiException {

        okhttp3.Call localVarCall = getConfigSettingValidateBeforeCall(serverId, configSettingName, _callback);
        Type localVarReturnType = new TypeToken<ConfigSetting>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
